.env**
!.env.example

dist
.cache
**/.cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/
pip-cache/
pip_cache/
.nox/
.tox/
.uv/
.venv/
venv/
ENV/
env/
mypy_cache/
.mypy_cache/
.ipynb_checkpoints/
node_modules/
.bazel-cache/
